.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* --------------------------------------------------------------------------------- */

.App__c1 {
  width: 18vw;
  height: 95vh;
  /* background-color: #2c2c2c; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.App__c2 {
  width: 30vw;
  height: 95vh;
  /* background-color: #2c2c2c; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.App__c3 {
  width: 38vw;
  height: 95vh;
  /* background-color: #2c2c2c; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* --------------------------------------------------------------------------------- */

.App__c1__r1 {
  width: 90%;
  height: 25%;
  background-color: #2c2c2c;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
}
.App__c1__r2 {
  width: 90%;
  height: 40%;
  background-color: #2c2c2c;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.App__c1__r3 {
  width: 90%;
  height: 25%;
  background-color: #3a31b1;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
}

.App__c2__r1 {
  width: 90%;
  height: 15%;
  background-color: #2c2c2c;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App__c2__r2 {
  width: 90%;
  height: 30%;
  /* background-color: #2c2c2c; */
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App__c2__r3 {
  width: 90%;
  height: 45%;
  background-color: #2c2c2c;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.App__c3__r1 {
  width: 90%;
  height: 20%;
  background-color: #2c2c2c;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  align-items: center;
}

.App__c3__r2 {
  width: 90%;
  height: 40%;
  background-color: #2c2c2c;
  border-radius: 50px;
}

.App__c3__r3 {
  width: 90%;
  height: 30%;
  /* background-color: #2c2c2c; */
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* --------------------------------------------------------------------------------- */

.App__c2__r2__c1 {
  width: 45%;
  height: 100%;
  background-color: #2c2c2c;
  border-radius: 50px;
}

.App__c2__r2__c2 {
  width: 45%;
  height: 100%;
  background-color: #2c2c2c;
  border-radius: 50px;
}

.App__c3__r3__c1 {
  width: 50%;
  height: 100%;
  background-color: #2c2c2c;
  border-radius: 50px;
}

.App__c3__r3__c2 {
  width: 40%;
  height: 100%;
  background-color: #2c2c2c;
  border-radius: 50px;
}

/* --------------------------------------------------------------------------------- */

.App__c1__r1__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 25px;
  /* margin-top: 20px; */
  color: #ee515a;
}

.App__c1__r1__desc {
  font-size: 1rem;
  font-weight: 200;
  margin-left: 25px;
  /* margin-top: 5px; */
}

.App__c1__r1__info {
  display: flex;
  justify-content: space-evenly;
}

/* --------------------------------------------------------------------------------- */

.App__c1__r2__1 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App__c1__r3__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.App__c1__r3__desc {
  font-size: 1rem;
  font-weight: 200;
  margin-left: 1rem;
}

.App__c2__r3__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1.5rem;
}

.App__c1__r3 button {
  background-color: black;
  border: none;
  color: white;
  width: 40%;
  height: 20%;
  border-radius: 50px;
  margin-right: 0.5rem;
  border-top-right-radius: 0;
}

.App__c2__r1__cost {
  font-size: 1.5rem;
  font-weight: 600;
}

.App__c2__r3__dates {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.App__c2__r3__date {
  width: 6.5rem;
  height: 7.5rem;
  border-radius: 20px;
  background-color: black;
}

.App__c3__r1__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.App__c3__r1__desc {
  font-size: 1rem;
  font-weight: 200;
}

/* --------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .App__c1 {
    width: 90vw;
    height: 18vh;
    margin-bottom: 10px;
  }
  .App__c2 {
    width: 90vw;
    height: 30vh;
    margin-bottom: 10px;
  }
  .App__c3 {
    width: 90vw;
    height: 38vh;
    margin-bottom: 10px;
  }
}
